.footer {
  background-color: $color-gray-dark-3;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: $color-grey-light-1;

  @include respond(tap-port) {
    padding: 8rem 0;
  }
  &__logo-box {
    text-align: center;
    margin-bottom: 8rem;
    @include respond(tap-port) {
      margin-bottom: 6rem;
    }
  }
  &__logo {
    width: 15rem;
  }
  &__navigation {
    border-top: 1px solid $color-gray-dark;
    padding-top: 2rem;
    display: inline-block;

    @include respond(tap-port) {
      width: 100%;
      text-align: center;
    }
  }
  &__list {
    list-style: style none;
  }
  &__item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }
  &__link {
    &:visited,
    &:link {
      color: $color-grey-light-1;
      background-color: $color-gray-dark-3;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all 0.2s;
    }
    &:hover,
    &:active {
      color: $color-primary;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
      transform: rotate(5deg) scale(1.3);
    }
  }
  &__copyright {
    border-top: 1px solid $color-gray-dark;
    padding-top: 2rem;
    width: 80%;
    float: right;

    @include respond(tap-port) {
      width: 100%;
      float: none;
    }
  }
}
