*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%; // 1rem == 10px : 10px/16 = 62.5%

  @include respond(tap-land) {
    //width < 900px
    font-size: 56.25%; // 1 rem = 9px, 9/16 56.25%
  }

  @include respond(tap-port) {
    //width < 600px
    font-size: 50%; // 1 rem = 8px, 8/16 50%
  }

  @include respond(big-desktop) {
    //width < 1200px
    font-size: 75%; // 1 rem = 12px, 12/16 = 75%
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
  @include respond(tap-port) {
    padding: 0;
  }
}
::selection {
  background-color: $color-primary;
  color: $color-white;
}
